@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --blue: #287bff;
    --white: #fff;
    --grey: #f5f5f5;
    --black1: #222;
    --black2: #999;
    --black3: #25272e;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
}
.main {
    position: relative;
    width: 100%;
    min-height: 100vh;
    transition: 0.5s;
}

    .main.active {
        width:100%;
        left: 80px;
    }

.topbar {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.toggle {
    position: relative;
    width: 60px;
    height: 60px;
    background: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    cursor: pointer;
}

.user {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

    .user ion-icon {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
.powerBIContainer{
    width:200%;
    height:200%;
    margin-right:400px;
}

.ErrorMessage{
    font-size: 50px;
    font-style: 'Poppins', sans-serif;
}