{% block midpart %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer">
    <title>login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='forget_password.css') }}" />
</head>
<body>
    <div class="Box">
        <form action="/forget_password" method="POST" autocomplete="off">
            {{ csrf_token }}
            <h2>Forgot Password</h2>

            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
                    {{ message }}
                </li>
                {% endfor %}
            </ul>
            {% endif %}

            <div class="inputBox">
                <label for="NewPassword">Password</label>
                <input type="password" name="NewPassword" id="id_NewPassword" autocomplete="on">
                <ion-icon name="lock-closed-outline"></ion-icon>
            </div>
            <div class="inputBox">
                <label for="ConfirmPassword">Confirm Password</label>
                <input type="password" name="ConfirmPassword" id="id_ConfirmPassword" autocomplete="on">
                <ion-icon name="lock-closed-outline"></ion-icon>
            </div>

            <input type="submit" id="PasswordResetButton" value="Reset Password">

            <div class="register">
                <p>Go to <a id="LoginLink" href="/forget_password">Forget Password</a></p>
            </div>
        </form>
    </div>
</body>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<script>
            const PasswordResetButton = document.getElementById('PasswordResetButton');
            loginButton.addEventListener("click", () => {
                const new_password = document.getElementById("id_NewPassword").value;
                const confirm_password = document.getElementById("id_ConfirmPassword").value;
                // Add your login validation logic here
                if (!new_password || !confirm_password) {
                    alert("Please fill the password!");
                } else if (new_password !== confirm_password) {
                    alert("Password not Matching!");
                } else {
                    alert("Send the Password Reset Link!")
                }
        });

        const CreateAccountLink = document.getElementById("LoginLink");
        CreateAccountLink.addEventListener("click", (event) => {
            event.preventDefault();
            window.location.href = CreateAccountLink.getAttribute('href');
            alert("Redirect to forget password");
        });
</script>
</html>
{% endblock midpart %}
